name: CI

on:
  - push
  - pull_request

permissions:
  contents: read

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        node: [20, 18, 16]
        os: [windows-2019, macos-11, ubuntu-22.04]
        arch: [x64]
        include:
          - os: windows-2019
            arch: x86
            node: 20
          - os: windows-2019
            arch: x86
            node: "18.18.2" # pinned to avoid 18.19.0 and npm 10
          - os: windows-2019
            arch: x86
            node: 16
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          architecture: ${{ matrix.arch }}
      - name: Install
        run: npm install
        env:
          npm_config_arch: ${{ matrix.arch }}
          TARGET_ARCH: ${{ matrix.arch }}
      - name: Test
        run: npm test
